{% extends 'web/story/chapters.html.twig' %}

{% block title %}{{ story.info.title }} - uffn{% endblock %}

{% block breadcrumbs %}
  {{ parent() }}
  &rarr; <a href="{{ path('version_fulltext', { id: story.info.version_id }) }}">full text</a>
{% endblock %}

{% block storyChapterNav %}
  <a href="{{ path('version_toc', { id: story.info.version_id, }) }}"
     type="button" class="btn btn-secondary btn-sm">Chapter index</a>
{% endblock %}

{% block storyBottomNav %}
{% endblock %}